/*Section 3: Footer, start*/
footer {
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  height: 20vh;
  bottom: -50px;
  z-index: $regLayerTop;
  overflow: hidden;
}

.menu-footermenu-container {
  position: absolute;
  bottom: 55px;

  width: 100vw;
  z-index: $regLayerTop;
}

footer ul {
  list-style: none;
}

#menu-item-29 {
  border: 1px solid black;
  border-style: hidden solid hidden solid;
}

.footerMenu ul span {
  display: none;
}

.menu-footerMenu-container {
  text-align: center;
}
.menu-footerMenu {
  text-align: center;
}
.menu-footermenu-container li {
  float: left;
  width: 33vw;
  text-align: center;
}

.menu-footermenu-container a {
  color: $black;
  font-size: 2.5em;
  text-decoration: none;
}

.menu-footermenu-container span {
  display: none;
}

.footerMenu-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
/*Section 3: Footer, end*/
