$bgSize90: 90%;
@import 'optagelse';
@import 'profil';


/*Section 10: Badges, start*/
.badgeIndex {
    margin-top: 25%;
  }
  
.badgeContainer {
    width: 100vw;
    height: 100%;
    position: relative;
}

.badge {
    position: relative;
    height: 60vh;
    width: 100%;
}

.badgeActualImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.badgeAcquired {
    opacity: 1;
}

.badgeImg {
    border: none;
    width: 90px;
    height: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.64);
    border: solid #e1d7c2 2px;
    border-radius: 100%;
    position: absolute;
    opacity: 1;
    background-color: white;
}

#magiker {
    @include bgImage(url("../../../img/badges/magiker/magikerIllustration.png"));
    background-size: $bgSize90;
}

#alkymist {
    @include bgImage(url("../../../img/badges/magiker/alkymistIllustration.png"));
    background-size: $bgSize90;
}

#quidditch {
    @include bgImage(url("../../../img/badges/quidditch/quidditchIllustration.png"));
    background-size: $bgSize90;
}

#dragetaemmer {
    @include bgImage(url("../../../img/badges/drage/drageIllustration.png"));
    background-size: $bgSize90;
}

#erfaren {
    @include bgImage(url("../../../img/badges/erfaren/erfarenIllustration.png"));
    background-size: $bgSize90;
}

.journeyBadge {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: solid 3px #e1d7c2;
}

#welcome {
    font-family: $fontSurabanglus;
    font-size: 12pt;
    color: $black;
    margin-bottom: 5%;
    text-align: center;
}

.slick-next {
    right: 30%;
}

.slick-prev {
    left: 25%;
}

.slick-arrow {
    margin-top: 55%;
    z-index: 89;
}

.slick-next:before {
content: "";
    background-image: url("../../../img/arrows/arrowRight.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 30px;
    width: 50px;
    opacity: 1;
}

.slick-prev:before {
content: "";
    background-image: url("img/arrows/arrowLeft.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 30px;
    width: 50px;
    opacity: 1;
}

.top-left {
    top: 10%;
    left: 10%;
}

.top-right {
    top: 10%;
    right: 10%;
}

.bottom-left {
    bottom: 10%;
    left: 10%;
}

.bottom-right {
    bottom: 10%;
    right: 10%;
}
/*Section 10: Badges, end*/